.answer-option{
  width: 80%;
  border-radius: 12px;
  border: 2px solid #6066D0B2;
  padding: 0.5em 1em;
  color: #6066D0B2;
  background-color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.answer-option:hover{
  background-color: #F9A826;
  color: #fff;
  cursor: pointer;
}
.correct, .correct:hover{
  background-color: #60BF88;
  color: #fff ;
}
.wrong, .wrong:hover{
  background-color: #EA8282;
  color: #fff;
}
